#buttons-container {

    width: 100%;

    padding-top: $padding-small;
    @include flex-center;
    justify-content: space-evenly;
    gap: 1rem;

    button {
        @include button-basic;
        padding: $padding-small;
        border-radius: $border-radius-standard;
        flex: 1 0 0;

        &:focus {
            background-color: $color-font-cyan-transparent;
        }

    }

    visibility: hidden;

}