main {

    width: 100%;

    .city-container {
        background-image: url('../src/img/city.png');
        @include location;
        position: relative;
    
        figure {
            @include absolute-center;
            bottom: 10;
            width: 6rem;
            height: auto;
            text-align: center;
    
            img {
                padding: $padding-small;
            }
        
        visibility: hidden;
            
        }
    
        display: none;
    
    }

    .gym-container {

        background-image: url('../src/img/gym.png');
        @include location;

        figure {

            width: 3rem;
            height: auto;

            @include absolute-center;
            
            figcaption {
                text-align: center;
            }

            visibility: hidden;

        }

        display: none;
        
    }
    

    .input-container {
        @include flex-center;
        flex-direction: column;
        @include absolute-center;
        gap: 1.5rem;
    
        input {
            all: unset;
            background-color: transparent;
            border: $border-fat;
            border-radius: $border-radius-standard;
            height: 2rem;
            text-align: center;
        }
    
        button {
            @include button-basic;
            font-weight: 900;
            padding: $padding-small;
            border-radius: $border-radius-circle;
        }
    
        display: none;
    
    }

}