main {

    width: 100%;
    

    .input-container {
        @include flex-center;
        flex-direction: column;
        gap: 1.5rem;
    
        input {
            all: unset;
            background-color: transparent;
            border: $border-fat;
            border-radius: $border-radius-standard;
            height: 2rem;
            text-align: center;
            padding: $padding-small;
        }
    
        button {
            @include button-basic;
            font-weight: 900;
            padding: $padding-small;
            border-radius: $border-radius-circle;
        }
    
        display: none;
    
    }

}