#shop-container {

    background-image: url('../src/img/shop.png');
    @include location;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: baseline;
    overflow: scroll;

    figure {

        @include flex-center;
        flex-direction: column;
        border: $border-fat;
        border-radius: $border-radius-standard;
        padding: $padding-small;
        width: 9rem;
        margin: $margin-small;
        background-color: $color-bg-deep-sea-transparent;
    
        img {
            border-radius: $border-radius-standard;
            border: $border-standard;
            background-color: transparent;
            background-color: rgba(0, 0, 0, 0.8);
        }
    
        figcaption {
            text-align: center;
            padding-top: $padding-small;
            font-size: $font-size-small-bigger;
        }

        button {
            @include button-basic;
            padding: $padding-xs;
            margin-top: $margin-xs;
            border-radius: $border-radius-standard;
            font-size: $font-size-small-bigger;
        }

    }

    display: none;

}