@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Wallpoet&display=swap");
/* colors */
/* fonts */
/* padding */
/* margin */
/* borders */
/* || RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea {
  font: inherit;
  color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at center center, #2c002c, #002c2c);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #00ffff;
  padding: 0.5rem;
}

header {
  width: 100vw;
}
header #player-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #00ffff;
  display: none;
}
header #ninja-dialog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5rem;
  margin: 0.5rem;
}
header #ninja-dialog-container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #00ffff;
  border-radius: 10px;
  padding: 0.5rem;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  width: 2rem;
  height: auto;
}
header #ninja-dialog-container figure img {
  border-radius: 50%;
  border: 1px solid #00ffff;
}
header #ninja-dialog-container figure figcaption {
  padding-top: 0.5rem;
}
header #ninja-dialog-container .container-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.7rem;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
header #ninja-dialog-container .container-dialog p {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 2px solid #00ffff;
  border-radius: 10px;
  font-family: "Wallpoet", cursive;
}
header #ninja-dialog-container .container-dialog button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #00ffff;
  font-weight: 900;
  padding: 0.5rem;
  border-radius: 50%;
}

main {
  width: 100%;
}
main .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  display: none;
}
main .input-container input {
  all: unset;
  background-color: transparent;
  border: 2px solid #00ffff;
  border-radius: 10px;
  height: 2rem;
  text-align: center;
  padding: 0.5rem;
}
main .input-container button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #00ffff;
  font-weight: 900;
  padding: 0.5rem;
  border-radius: 50%;
}

.city-container {
  background-image: url("../src/img/city.png");
  background-size: cover;
  background-position: center center;
  height: 50vh;
  width: auto;
  border-radius: 10px;
  border: 2px solid #00ffff;
  margin: 0.5rem;
  position: relative;
  display: none;
}
.city-container figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 10;
  width: 11rem;
  height: auto;
  text-align: center;
  visibility: hidden;
}
.city-container figure img {
  padding: 0.5rem;
}

.gym-container {
  background-image: url("../src/img/gym.png");
  background-size: cover;
  background-position: center center;
  height: 50vh;
  width: auto;
  border-radius: 10px;
  border: 2px solid #00ffff;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.gym-container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
}
.gym-container figure img {
  width: 3rem;
  height: auto;
}
.gym-container figure figcaption {
  text-align: center;
}

#ninjas-container {
  background-image: url("../src/img/ninjas2.png");
  background-size: cover;
  background-position: center center;
  height: 50vh;
  width: auto;
  border-radius: 10px;
  border: 2px solid #00ffff;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  overflow: scroll;
  display: none;
}
#ninjas-container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #00ffff;
  border-radius: 10px;
  padding: 0.5rem;
  width: 6rem;
  margin: 0.5rem;
  background-color: rgba(143, 0, 179, 0.747);
}
#ninjas-container figure img {
  border-radius: 50%;
  border: 1px solid #00ffff;
}
#ninjas-container figure figcaption {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

#buttons-container {
  width: 100%;
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1rem;
  visibility: hidden;
}
#buttons-container button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #00ffff;
  padding: 0.5rem;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
#buttons-container button:focus {
  background-color: rgba(17, 59, 59, 0.9);
}

#shop-container {
  background-image: url("../src/img/shop.png");
  background-size: cover;
  background-position: center center;
  height: 50vh;
  width: auto;
  border-radius: 10px;
  border: 2px solid #00ffff;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow: scroll;
  display: none;
}
#shop-container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #00ffff;
  border-radius: 10px;
  padding: 0.5rem;
  width: 9rem;
  margin: 0.5rem;
  background-color: rgba(0, 44, 44, 0.692);
}
#shop-container figure img {
  border-radius: 10px;
  border: 1px solid #00ffff;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.8);
}
#shop-container figure figcaption {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 0.8rem;
}
#shop-container figure button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #00ffff;
  padding: 0.25rem;
  margin-top: 0.25rem;
  border-radius: 10px;
  font-size: 0.8rem;
}

.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

/* tablets */
@media screen and (min-width: 768px) {
  body {
    font-size: 1.5rem;
  }
  body .city-container figure {
    width: 20rem;
  }
  body .gym-container figure img {
    width: 6rem;
  }
  body #ninjas-container figure {
    width: 15rem;
  }
  body #ninjas-container figure figcaption {
    font-size: 1.5rem;
  }
  body #shop-container figure {
    width: 18rem;
  }
  body #shop-container figure figcaption {
    font-size: 1.5rem;
  }
  body #shop-container figure button {
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
}
/* horizontal phone */
@media screen and (max-height: 480px) and (max-width: 915px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body header #player-stats {
    position: absolute;
    top: 0;
    width: 100vw;
    margin: 0 -8px;
    padding-top: 0.25rem;
    font-size: 1rem;
  }
  body header #ninja-dialog-container {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body header #ninja-dialog-container figure {
    width: 8rem;
  }
  body header #ninja-dialog-container figure figcaption {
    font-size: 1rem;
  }
  body header #ninja-dialog-container .container-dialog {
    font-size: 0.8rem;
  }
  body main .input-container {
    font-size: 1rem;
  }
  body main .input-container input {
    padding: 0.25rem;
  }
  body main .city-container {
    padding: 0.5rem;
  }
  body main .city-container figure {
    width: 110px;
  }
  body main .city-container figure figcaption {
    font-size: 0.8rem;
  }
  body main .gym-container figure img {
    width: 30px;
  }
  body main .gym-container figure figcaption {
    font-size: 0.8rem;
  }
  body main #shop-container figure {
    width: 120px;
  }
  body main #shop-container figure figcaption {
    font-size: 0.5rem;
  }
  body main #shop-container figure button {
    font-size: 0.5rem;
  }
  body main #ninjas-container figure {
    width: 120px;
  }
  body main #ninjas-container figure figcaption {
    font-size: 0.5rem;
  }
  body footer {
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
  }
  body footer button {
    font-size: 0.8rem;
  }
}