/* colors */
/* fonts */
/* padding */
/* margin */
/* borders */
/* || RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea {
  font: inherit;
  color: inherit;
}

body {
  background: radial-gradient(circle at center center, #2c002c, #002c2c);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #00ffff;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

#player-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #00ffff;
  display: none;
}

#ninja-dialog-container {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
}
#ninja-dialog-container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #00ffff;
  border-radius: 10px;
  padding: 0.5rem;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
#ninja-dialog-container figure img {
  border-radius: 50%;
  border: 1px solid #00ffff;
}
#ninja-dialog-container figure figcaption {
  padding-top: 0.5rem;
}
#ninja-dialog-container .container-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.7rem;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
#ninja-dialog-container .container-dialog p {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 2px solid #00ffff;
  border-radius: 10px;
}
#ninja-dialog-container .container-dialog button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #00ffff;
  font-weight: 900;
  padding: 0.5rem;
  border-radius: 50%;
}

main {
  width: 100%;
}
main .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  gap: 1.5rem;
  display: none;
}
main .input-container input {
  all: unset;
  background-color: transparent;
  border: 2px solid #00ffff;
  border-radius: 10px;
  height: 2rem;
  text-align: center;
}
main .input-container button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #00ffff;
  font-weight: 900;
  padding: 0.5rem;
  border-radius: 50%;
}

.city-container {
  background-image: url("../src/img/city.png");
  background-size: cover;
  height: 50vh;
  width: auto;
  border-radius: 10px;
  border: 2px solid #00ffff;
  margin: 0.5rem;
  position: relative;
  display: none;
}
.city-container figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 10;
  width: 11rem;
  height: auto;
  text-align: center;
  visibility: hidden;
}
.city-container figure img {
  padding: 0.5rem;
}

.gym-container {
  background-image: url("../src/img/gym.png");
  background-size: cover;
  height: 50vh;
  width: auto;
  border-radius: 10px;
  border: 2px solid #00ffff;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.gym-container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
}
.gym-container figure img {
  width: 3rem;
  height: auto;
}
.gym-container figure figcaption {
  text-align: center;
}

#ninjas-container {
  background-image: url("../src/img/ninjas2.png");
  background-size: cover;
  height: 50vh;
  width: auto;
  border-radius: 10px;
  border: 2px solid #00ffff;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  overflow: scroll;
  display: none;
}
#ninjas-container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #00ffff;
  border-radius: 10px;
  padding: 0.5rem;
  width: 6rem;
  margin: 0.5rem;
  background-color: rgba(143, 0, 179, 0.747);
}
#ninjas-container figure img {
  border-radius: 50%;
  border: 1px solid #00ffff;
}
#ninjas-container figure figcaption {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

#buttons-container {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1rem;
  visibility: hidden;
}
#buttons-container button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #00ffff;
  padding: 0.5rem;
  border-radius: 10px;
  width: 4rem;
}
#buttons-container button:focus {
  background-color: rgba(17, 59, 59, 0.9);
}

#shop-container {
  background-image: url("../src/img/shop.png");
  background-size: cover;
  height: 50vh;
  width: auto;
  border-radius: 10px;
  border: 2px solid #00ffff;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  overflow: scroll;
}
#shop-container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #00ffff;
  border-radius: 10px;
  padding: 0.5rem;
  width: 9rem;
  margin: 0.5rem;
  background-color: rgba(0, 44, 44, 0.692);
}
#shop-container figure img {
  border-radius: 10px;
  border: 1px solid #00ffff;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.8);
}
#shop-container figure figcaption {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
}