
body {
    width: 100vw;
    height: 100vh;
    //overflow: hidden;
    @include background-gradient;
    @include flex-center;
    justify-content: space-evenly;
    font-family: $font-basic;
    font-size: $font-size-standard;
    flex-direction: column;
    color: $color-font-cyan;
    padding: $padding-small;
}