@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Wallpoet&display=swap');

/* colors */
$color-bg-purple: #2c002c;
$color-bg-deep-sea: #002c2c;
$color-font-cyan: #00ffff;
$color-font-cyan-transparent: rgba(17, 59, 59, 0.9);
$color-font-pink: #ff00ff;
$color-font-pink-dark: #5a005a;
$color-bg-ninja: rgba(143, 0, 179, 0.747);
$color-bg-deep-sea-transparent: rgba(0, 44, 44, 0.692);

/* fonts */
$font-dialog: 'Wallpoet', cursive;
$font-basic: 'Allerta Stencil', sans-serif;
$font-size-standard: 1rem;
$font-size-bigger: $font-size-standard *1.35;
$font-size-big: $font-size-standard *2;
$font-size-small-bigger: $font-size-standard*0.8;
$font-size-small: $font-size-standard*0.5;

/* padding */
$padding-normal: 1rem;
$padding-big: 2 * $padding-normal;
$padding-small: $padding-normal*0.5;
$padding-xs: $padding-small*0.5;

/* margin */
$margin-normal: 1rem;
$margin-small: $margin-normal*0.5;
$margin-xs: $margin-small*0.5;

/* borders */
$border-standard: 1px solid $color-font-cyan;
$border-fat: 2px solid $color-font-cyan;
$border-radius-standard: 10px;
$border-radius-circle: 50%;